<%= form_with(model: user) do |form| %>
<div class="d-flex flex-column" >

  <div>
    <%= form.label "Nombre", style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label "Email", style: "display: block" %>
    <%= form.text_field :email %>
  </div>

  <div>
    <%= form.label "SIS_ID", style: "display: block" %>
    <%= form.text_field :sis_id %>
  </div>

  <div>
    <%= form.label "Universidad", style: "display: block" %>
    <%= form.text_field :university %>
  </div>

  <div>
    <%= form.label "Código del curso", style: "display: block" %>
    <%= form.text_field :course_code %>
  </div>

  <div>
        <%= form.check_box :initial_active, {checked: true} %> <%= form.label "Encuesta inicial activa", style: "display: inline" %>

  </div>

  <%
=begin%>
 <div>
        <%= form.check_box :initial_answered %> <%= form.label :initial_answered, style: "display: inline" %>

  </div> 
<%
=end%>

  <div>
        <%= form.check_box :midterm_active, {checked: true} %> <%= form.label "Encuesta midterm activa", style: "display: inline" %>

  </div>

  <%
=begin%>
 <div>
        <%= form.check_box :midterm_answered %> <%= form.label :midterm_answered, style: "display: inline" %>

  </div> 
<%
=end%>

  <div>
        <%= form.check_box :exit_active, {checked: true} %> <%= form.label "Encuesta final activa", style: "display: inline" %>

  </div>
<%
=begin%>
 
  <div>
        <%= form.check_box :exit_answered %> <%= form.label :exit_answered, style: "display: inline" %>

  </div> 
<%
=end%>
  <br>
  <div class="d-flex justify-content-center">
    <%= form.submit "Agregar usuario", class:"btn btn-success" %>
  </div>
  </div>
<% end %>
