<div id="<%= dom_id user %>">
  <p>
    <strong>Name:</strong>
    <%= user.name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= user.email %>
  </p>

  <p>
    <strong>Sis:</strong>
    <%= user.sis_id %>
  </p>

  <p>
    <strong>University:</strong>
    <%= user.university %>
  </p>

  <p>
    <strong>Course code:</strong>
    <%= user.course_code %>
  </p>

  <p>
    <strong>Initial active:</strong>
    <%= user.initial_active %>
  </p>

  <p>
    <strong>Initial answered:</strong>
    <%= user.initial_answered %>
  </p>

  <p>
    <strong>Midterm active:</strong>
    <%= user.midterm_active %>
  </p>

  <p>
    <strong>Midterm answered:</strong>
    <%= user.midterm_answered %>
  </p>

  <p>
    <strong>Exit active:</strong>
    <%= user.exit_active %>
  </p>

  <p>
    <strong>Exit answered:</strong>
    <%= user.exit_answered %>
  </p>

</div>
