<%
=begin%>
 <p style="color: green"><%= notice %></p>

<h1>Users</h1>

<div id="users">
  <% @users.each do |user| %>
    <%= render user %>
    <p>
      <%= link_to "Show this user", user %>
    </p>
  <% end %>
</div>

<%= link_to "New user", new_user_path %> 
<%
=end%>

<script>
const toggler = document.getElementByClass("form-check-input initial")
const changeActive = () => {
  toggler.onChange={() =>{ toggle_initial }}
}

</script>


<table class="table table-striped align-middle">
  <thead>
    <tr>                          
      <th scope="col">Nombre</th>
      <th scope="col">E-Mail</th>
      <th scope="col">SIS_ID</th>
      <th scope="col">Universidad</th>
      <th scope="col">Curso</th>
      <th scope="col">Inicial</th>
      <th scope="col">Inicial</th>
      <th scope="col">Midterm</th>
      <th scope="col">Midterm</th>
      <th scope="col">Final</th>
      <th scope="col">Final</th>
    
    </tr>
  </thead>
  <tbody class="body">
    <% @users.each do |user| %>
      <tr >
        <td><%= user.name %></td> 
        <td><%= user.email %></td> 
        <td><%= user.sis_id %></td> 
        <td><%= user.university %></td> 
        <td><%= user.course_code %></td> 
        <td>



        </td> 
        <td><%= user.initial_active %></td> 
        <td><%= user.midterm_active %></td> 
        <td><%= user.midterm_answered %></td> 
        <td><%= user.exit_active %></td> 
        <td><%= user.exit_answered %></td> 
      </tr> 
     <% end %>
  </tbody>
</table>
