<%
=begin%>
 <p style="color: green"><%= notice %></p>

<h1>Users</h1>

<div id="users">
  <% @users.each do |user| %>
    <%= render user %>
    <p>
      <%= link_to "Show this user", user %>
    </p>
  <% end %>
</div>

<%= link_to "New user", new_user_path %> 
<%
=end%>

<script>
const toggler = document.getElementByClass("form-check-input initial")
const changeActive = () => {
  toggler.onChange={() =>{ toggle_initial }}
}

</script>
<div class="px-5" data-controller="users">

<table class="table table-striped align-middle">
  <thead>
    <tr>                          
      <th scope="col">Nombre</th>
      <th scope="col">E-Mail</th>
      <th scope="col">SIS_ID</th>
      <th scope="col">Universidad</th>
      <th scope="col">Curso</th>
      <th scope="col">Inicial</th>
      <th scope="col">Inicial</th>
      <th scope="col">Midterm</th>
      <th scope="col">Midterm</th>
      <th scope="col">Final</th>
      <th scope="col">Final</th>
    
    </tr>
  </thead>
  <tbody class="body">
    <% @users.each do |user| %>
      <tr >
        <td><%= user.name %></td> 
        <td><%= user.email %></td> 
        <td><%= user.sis_id %></td> 
        <td><%= user.university %></td> 
        <td><%= user.course_code %></td> 
        

        <%= form_with(model: user, class:"text-lg inline-block my-3 w-72") do |form| %>
          <td><%= form.check_box :initial_active, data: {
                         sis_id: user.sis_id,
                         action: "users#toggler"
                       },class: "mr-2 align-middle bg-gray-50 border-gray-300 focus:ring-3 focus:ring-blue-300 h-5 w-5 rounded checked:bg-green-500" %></td> 
          <td><%= user.initial_active %></td> 
          <td><%= form.check_box :midterm_active, class: "mr-2 align-middle bg-gray-50 border-gray-300 focus:ring-3 focus:ring-blue-300 h-5 w-5 rounded checked:bg-green-500" %></td> 
          <td><%= user.midterm_answered %></td> 
          <td><%= form.check_box :exit_active, class: "mr-2 align-middle bg-gray-50 border-gray-300 focus:ring-3 focus:ring-blue-300 h-5 w-5 rounded checked:bg-green-500" %></td> 
          <td><%= user.exit_answered %></td> 
        <%end%>
        
      </tr> 
     <% end %>
  </tbody>
</table>

</div>